<%- include("partials/header") %>
    <%# linking header with Dashboard %>
        <style>
            #frm-add-book label.error {
                color: red;
            }
        </style>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Add Book</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Book</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title"> Add Book</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form action="/admin/add-book" id="frm-add-book" method="POST"
                                    enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input required type="text" class="form-control"
                                                    placeholder="Enter name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Select Category</label>
                                                <select required class="form-control" name="dd_category">
                                                    <option>Choose Category</option>
                                                    <% categories.map(eachItem=>{%>
                                                        <option value="<%=eachItem.id%>">
                                                            <%=eachItem.name%>
                                                        </option>
                                                        <% }) %>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" name="dd_description"
                                                    placeholder="Description">

                                       </textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Amount</label>
                                                <% if(currency_data !==null) { %>
                                                    <b>(<%= currency_data.option_value %>)</b>
                                                    <% } else{ %>

                                                        <%} %>

                                                            <input required type="number" min="1" class="form-control"
                                                                placeholder="Enter amount" name="amount">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Cover Image</label>
                                                <input type="file" name="cover_image" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Author</label>
                                                <input required type="text" class="form-control"
                                                    placeholder="Enter Author name" name="author">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Select Status</label>
                                                <select class="form-control" name="status">
                                                    <option value="1">Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-dark" type="submit">Submit</button>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>

                </div>

        </section>
        <!-- /.content -->
        <%- include("partials/footer") %>
            <%# linking footer with Dashboard %>