<%- include("partials/header") %>
    <%# linking header with Dashboard %>
        <style>
            #frm-add-days-settings label.error {
                color: red;
            }

            th,
            td {
                text-align: center;
            }
        </style>

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Day Settings</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Day Settings</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Day Settings</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form method="POST" action="/admin/day-settings" id="frm-add-days-settings">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Day count value</label>
                                                <input type="number" required min="1" class="form-control"
                                                    name="day_count" placeholder="Enter days">

                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-dark" type="submit">Submit</button>
                                </form>
                                <!-- Small boxes (Stat box) -->
                                <div class="row" style="margin-top: 30px;">
                                    <div class="col-md-12">
                                        <table id="tbl-list-day-settings" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#ID</th>
                                                    <th>Total Days</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% days.forEach(function(data){ %>
                                                    <tr>
                                                        <td>
                                                            <%=data.id%>
                                                        </td>
                                                        <td>
                                                            <%=data.total_days %>
                                                        </td>
                                                        <td>
                                                            <form id="frm-delete-days-<%=data.id%>"
                                                                action="/admin/delete-days/<%=data.id %>" method="POST">
                                                                <input type="hidden" name="day_id"
                                                                    value="<%= data.id %> ">
                                                            </form>
                                                            <a href="javascript:void(0)"
                                                                onclick="if(confirm('Are you sure want to delete')){$('#frm-delete-days-<%= data.id %>').submit()}"
                                                                class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>


                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>#ID</th>
                                                    <th>Total Days</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                        </table>


                                    </div>

                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>

                </div>


        </section>
        <!-- /.content -->
        <%- include("partials/footer") %>
            <%# linking footer with Dashboard %>