<%- include("partials/header") %>
    <%# linking header with Dashboard %>
        <style>
            #frm-issue-book label.error {
                color: red;
            }
        </style>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Issue a Book</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Issue a Book</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Issue a Book</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form method="POST" action="/admin/issue-a-book" id="frm-issue-book">

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Select Category</label>
                                                <select required class="form-control" name="dd_category"
                                                    id="dd_category">
                                                    <option value="">Choose Category</option>

                                                    <% categories.forEach(function(category){ %>
                                                        <option value="<%= category.id %> ">
                                                            <%= category.name %>
                                                        </option>

                                                        <% }) %>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Select Book</label>
                                                <select required class="form-control" name="dd_book" id="dd_book_list">
                                                    <option value="">Choose Book</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Select User</label>
                                                <select required class="form-control" name="dd_user">
                                                    <option value="">Choose User</option>

                                                    <% users.forEach(function(users){ %>
                                                        <option value="<%= users.id %> ">
                                                            <%= users.name %>( <%= users.email %>)
                                                        </option>

                                                        <% }) %>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>How many days we want issue ?</label>
                                                <select required class="form-control" name="dd_days">
                                                    <option value="">Choose Days</option>

                                                    <% days.forEach(function(data){ %>
                                                        <option value=" <%= data.total_days %>">
                                                            <%= data.total_days %>
                                                        </option>
                                                        <% }) %>

                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <button class="btn btn-dark" type="submit">Submit</button>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>

                </div>

        </section>
        <!-- /.content -->
        <%- include("partials/footer") %>
            <%# linking footer with Dashboard %>